<form>
    
    <p>Фамилия</p>
    <input type="text">
    <p>Имя</p>
    <input type="text">
    <p>Отчество</p>
    <input type="text">
    <p>Email</p>
    <input type="email">
    <p>Пол</p>
    <div style="display: flex; gap: 10px;">
        <label style="display: flex; gap: 5px;">
            <input type="radio" name="gender">
            <p>Мужской</p>
        </label>
        <label style="display: flex; gap: 5px;">
            <input type="radio" name="gender">
            <p>Женский</p>
        </label>
    </div>



</form>